<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <input type="text" name="post"><br>
    <button type="submit" name="btnPost">Post</button>
</form>

</body>
</html><!DOCTYPE html>
<html>
<head>
<title> web 1</title>
</head>
<body>
	<h1>headline level 1</h1>
	<h2>headline level 2</h2>
	<h3>headline level 3</h3>
<p> Xin chào tất cả các bạn <br />
Cảm ơn các bạn đã đọc<br />
in dam <strong> in dam</strong>
in nghieng,<i>in nghieng
</i></p>
<p style="color: red; background-color: white"> Đây la văn bản có thuộc tính style </p>
<h4>Danh sách sắp xếp</h4>
<ol type="A">
	<li> Muc con 1 </li>
	<li>Muc con 2</li>
	<li>Muc con 3</li>
<h5>Danh sach khong sap xep</h5>
<ul>
	<li>Muc 1 </li>
	<li>Muc 2</li>
	<li> Muc 3</li>
	<Li> Muc 4</Li>
</ul>
<dt>
	<dt> Wordpress</dt>
	<dd>Ma nguon mo tao blog</dd>
	<dt> HTML</dt>
	<dd> Ngon ngu danh dau van ban</dd>
</dt>
</ol>
<ul>
	<li> <a href="demo.html" title=" xem noi dung demo.html " target="_sefts">HTML</a> </li>
	<li><a href="demo.html" title="xem" target="_blank">html</a></li>
</ul>
<img src="http://images5.fanpop.com/image/photos/30200000/Husky-Puppies-dogs-30206282-500-333.jpg" alt="hinh anh cho husky" title="Husky" width="400px" height="500px"/>
<video width="500px" height="auto" autoplay loop muted>
	<source src="http://www.w3schools.com/tags/movie.mp4" type="video/mp4" />
</video>
<p>
	<p>Truy cập <a href="https://www.hackerrank.com" target="cuaso">hackerrank</a></p>
	<iframe src="https://binhnguyen.yolasite.com/" width="500px" height="600px" scrolling="auto" name="cuaso"></iframe>
</p>
<form action="#" method="post" name="dangnhap">
    Username: <input type="text" name="Username" /> <br />
	Password: <input type="Password" name="Password" /> <br />
	<input type="submit" value="submit" name="submit" />
</form>
</body>
</html>